# Eclipse
/.classpath
/.project
/.settings

# NetBeans
/nbproject

# Maven
/target
/build.xml

# vim
.*.sw[a-p]

# Various other potential build files
/build
/bin
/dist
/manifest.mf

/world

# Mac
/.DS_Store
*.DS_Store

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
